.wrp {
    padding-top: 20px;
    display: flex;
}
.img {
    width: 230px;
    margin-bottom: 10px;
}
.content {
    margin-left: 20px;
}
.wrpImg {
    display: flex;
    flex-direction: column;
}
.inputFile {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.btn {
    margin-top: 5px;
    width: auto;
    height: auto;
    text-align: center;
}
.videoWrp {
    width: 100%;
    height: 224px;
    object-fit: cover;
}
@media(max-width: 500px) {
    .videoWrp {
        display: none;
    }
}
@media (max-width: 460px) {
    .wrp {
        flex-direction: column;
        align-items: center;
    }
}