.header {
    background: #dbe7fd;
}
.container{
    display: grid;
    grid-template-columns: 10% 70% 10% 10%;
    padding-top: 28px;
    padding-bottom: 28px;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
}
.logo {
    height: 32px;
}
.navbar {
    display: flex;
    justify-content: center;
    padding: 0;
}
.item {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    /* color: #3C64B1; */
    margin: 0px 32px;
    cursor: pointer;
}
.navbar-item:hover {
    transition: 0.3s;
    color: #3C64B1;
}
.active {
    color: #3C64B1;
}
@media(max-width: 1200px) {
    .container{
        margin-right: 5%;
        margin-left: 5%;
        width: auto;
    }  
}
@media(max-width: 860px) {
    .container{
        grid-template-columns: 10% 50% 20% 20%;
    }  
}
@media(max-width: 425px) {
    .logo {
        display: none;
    }
    .container{
        grid-template-columns: 100%;
    }  
}