.header {
    background: #dbe7fd;
}
.container{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    padding-top: 28px;
    padding-bottom: 28px;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
}
.logo {
    height: 32px;
}
.navbar {
    display: flex;
    justify-content: center;
    padding: 0;
}
.item {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    /* color: #3C64B1; */
    margin: 0px 32px;
    cursor: pointer;
}
.navbar-item:hover {
    transition: 0.3s;
    color: #3C64B1;
}
.active {
    color: #3C64B1;
}
.btn {
    padding: 12px 18px;
    color: #FFFFFF;
    width: 91px;
    height: 42px;
    background: #3C64B1;
    margin: 0px 20px;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn:hover {
    transition: 0.3s;
    background: #f1de70;
}