.btn {
    padding: 12px 18px;
    color: #FFFFFF;
    width: 91px;
    height: 42px;
    background: #3C64B1;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
}
.btn:hover {
    transition: 0.2s;
    background: #f1de70;
}
.summaryError {
    padding: 5px;
    color: red;
    margin-bottom: 20px;
}